<% @result.each do |r| %>
<li class="span12">
	<div class="thumbnail">
    <table class="" border="0">
      <tr>
        <td colspan="4">
          <div class="center"><%= get_badge(r[:ratio2]) %></div>
        </td>
      </tr>
      <tr>
        <td rowspan="4" valign="top" class="span2 hidden-phone">
          <%= link_to image_tag(r[:recipe].source.image.to_s, "data-src"=> "holder.js/150x100", size: "150x100 ", alt: r[:recipe].source.name, class: "hidden-phone"), r[:recipe].source if r[:recipe].source.public? %>
        </td>
        <td colspan="2" class="span7">
          <!--<%= link_to "<h5>#{r[:recipe].name}</h5>".html_safe, r[:recipe], class: "" %>-->
          <%= link_to "<h5>#{r[:recipe].name}</h5>".html_safe, recipe_url("#{r[:recipe].id}-#{r[:recipe].name.downcase.gsub(' ', '-')}"), class: "" %>
        </td>
        <td class="span3">
          <div class="pull-right">
            <% if signed_in? %>
              <% mark_type = "0" %>
              <% mark=current_user.usersmarks.find_by_recipe_id(r[:recipe].id) %>
              <% mark_type=mark.mark_type if mark %>
              <%= button_tag "<i class='icon-star'></i>".html_safe, class: "btn btn-small", id: "#{r[:recipe].id}", name: "fav", "status" => mark_type %>
              <%= button_tag "<i class='icon-shopping-cart'></i>".html_safe, class: "btn btn-small", id: "#{r[:recipe].id}", name: "car", "status" => mark_type %>
            <% end %>
          </div>
        </td>
      </tr>

      <tr>
        <td class="span5">
        <% if r[:recipe].source.public?%>
          <small><%= r[:recipe].pax if r[:recipe].pax %></small>
          <i class="icon-bell"></i>
          <strong><%= r[:recipe].prep_time if r[:recipe].prep_time %></strong>
          <%= "<small>#{r[:recipe].difficult_level}</small>".html_safe if r[:recipe].difficult_level %>                
        <%end%>
        </td>

        <td colspan="2" class="span5">
          <%= link_to r[:recipe].category.name, r[:recipe].category, class: "" %>
        </td>
      </tr>

      <tr class="">
        <td colspan="3" class="span10">
          <p class="muted"><small><%= r[:txt] %></small></p>
        </td>
      </tr>

      <tr>
        <td colspan="3" class="span10">
          <% if r[:recipe].source.public?%>
          	<small class=""><%=link_to r[:recipe].source.name, r[:recipe].source%></small>
          <%else%>
          	<small class=""><%=link_to t(:my_cookbook), r[:recipe].source%></small>
          <%end%>
          <small><%= "#{t(:page)} #{r[:recipe].page}" if r[:recipe].page %></small>
        </td>
      </tr>
    </table>
	</div>
</li>
<% end %>

<div class="center">
    <%= will_paginate @result %>
</div>

<%= render 'usersmarks/form' if signed_in? %>
