<li class="span3">
	<% if !home_page? && signed_in? %>
		<%= form_for(current_user.usersbooks.build(source_id: source.id), remote: true) do |f| %>
            <label>
            	<%= f.check_box "task", {:checked=>source.is_usersbook(current_user.id)}, checked_value: source.id %>
	       	  	<span class="label-with-popover" data-toggle="tooltip" data-title="<%="#{source.name} - #{l source.publish_date, format: '%B %Y'}"%>">
        			<%=source.name.truncate(30)%>
        		</span>
            </label>
        	<%= f.hidden_field :source_id %>
            <%= f.submit %>
        <% end %>
    <%else%>
        <span class="label-with-popover" data-toggle="tooltip" data-title="<%="#{source.name} - #{l source.publish_date, format: '%B %Y'}"%>">
        	<%=source.name.truncate(30)%>
        </span>
	<%end%>
	<%= link_to image_tag(source.image.to_s, class: "thumbnail", size: "198x240"), source unless source.image.to_s.empty? %>
</li>
