<% provide(:title, t(:sources_title)) %>
<% provide(:description, "Encontre aqui as Revistas da Bimby e tambem os Livros da Bimby.") %>
<h1><%= t :sources %></h1>

<% if signed_in? && current_user.admin? %>
	<p><%= link_to t(:new_source), new_source_path, class: "btn btn-primary" %></p>
	<table class="table table-striped">
		<tr>
			<th><%= t :title %></th>
    		<th><%= t :publish_date %></th>
    		<th><%= t :options %></th>
  		</tr>
	<% @sources.each do |source| %>
  		<tr>
    		<td><%= link_to source.name, source %></td>
    		<td><%= source.publish_date %></td>
    		<td><%= link_to t(:edit), edit_source_path(source) %> |
    			<%= link_to t(:destroy), source, method: :delete, data: { confirm: t(:are_you_sure?) } %>
    		</td>
  		</tr>
 	<% end %>
 	</table>
<% else %>
	<ul class="nav nav-pills ">
    	<%= render @sources %>
  	</ul>
<% end %>

<script>
	$('.label-with-popover').tooltip({placement: 'bottom'});
</script>

<script>
jQuery(function($){
	$("input[type=submit]").hide();
    $("input[type=checkbox]").click(function(){
    	$(this).closest("form").submit();
    });
});
</script>