<% provide(:title, @source.public? ? @source.name.include?('Momento') ? "#{t(:magazine)} #{l @source.publish_date, format: "%B %Y"}".html_safe : "#{t(:book)} - #{@source.name}" : t(:my_cookbook)) %>
  <%= render 'shared/advertise_row2' unless current_user?(@source.user)%>

  <% if @source.public? %>
  <div class="row-fluid">
  	<div class="span3">
    	<%= image_tag(@source.image.to_s , class: "thumbnail") if !@source.image.to_s.empty? %>
    </div>
    <div class="span8">
        <h1><%= @source.name%></h1>
        <!--<h2><%= "#{t(:published_on)} #{l @source.publish_date, format: "%B %Y"}".html_safe %></h2>-->
        <h2><%= "#{l @source.publish_date, format: "%B %Y"}".html_safe %></h2>
        <p class="center"><%= "#{@recipes.size} #{t(:recipes)}" %></p>
    </div>
  </div>
  <% else %>
    <h1><%= t :my_cookbook if current_user?(@source.user) %></h1>
    <!--<p class="center"><%= "#{@recipes.size} #{t(:recipes)}" %></p>-->
    <%if current_user?(@source.user) %>
    	<div class="row">
    	<%= link_to t(:new_recipe), new_recipe_path(source_id: @source.id), class: "btn btn-primary pull-right" %>
    	</div>
    <%end%>
  <% end %>
  
  <% if @recipes.size>0 %>
  <h5><%= t :categories %>:</h5>
  <div class="accordion" id="accordion2">
    <% @cats.each do |c| %>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= c.id %>"><%= c.name %></a>
      </div>
      <div id="<%= c.id %>" class="accordion-body collapse">
        <div class="accordion-inner well">
          <ul class="nav nav-tabs nav-stacked">
          <% @source.recipes.where("category_id = ?",c.id).order("name").each do |r| %>
            <li>
              <%= link_to "<strong class='span10'>#{r.name}</strong><small class=''> #{t(:page)} #{r.page}</small>".html_safe, r if @source.public? %>
              <%= link_to "<strong>#{r.name}</strong>".html_safe, r unless @source.public? %>
            </li>  
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>