<% provide(:title, params[:search] ? "#{t(:search)} #{t(:recipes)} de #{params[:search]}" : t(:recipe_title)) %>
<% provide(:description, params[:search] ? "O Bimbyfy ajuda a encontrar a receita que procura!" : "Pode marcar suas receitas favoritas e adicionar seus ingredientes para a sua lista de compras.") %>
  <%= render 'shared/advertise_row2' %>

  <div class="center">
    <h1><%= t(:recipes) %></h1>
    <!--<p><%= "#{@recipes.size} #{t(:recipes)}" if @recipes %></p>-->
  </div>
  

  <% if @recipes.size==0 %>
  	<span>Nenhuma receita encontrada. <%= link_to "Voltar", root_path %></span>
  <% else %>
    <ul class="thumbnails">
      <%= render @recipes.uniq %>
    </ul>
    <div class="center">
      <%= will_paginate @recipes %>
    </div>
  <% end %>

<%= render 'usersmarks/form' if signed_in? %>