<% provide(:title, @recipe.name) %>

      	<% if @recipe.source.public? %>
      	<div class="row">
      		<div class="pull-left">
          		<%= image_tag(@link, alt: @recipe.name, :size => "320x320", class: "thumbnail") if@link.length>0 %>
          		<%= render 'shared/sponsor' %>
          	</div>
          	<div class="center pull-right">
            	<small><%= @recipe.pax if @recipe.pax %></small><br/>
            	<i class="icon-bell"></i>
            	<h3><%= @recipe.prep_time if @recipe.prep_time %></h3>
            	<%= "<small>#{t(:difficulty).upcase}:<br/> #{@recipe.difficult_level}</small>".html_safe if @recipe.difficult_level %>
          	</div>
        </div>
        <%end%>

       	<div class="row">
			<h3 class="pull-left"><%= @recipe.name %></h3>
        	<% if signed_in? %>
        		<div class="pull-right">
          			<a href="#" id="fav" class="btn" ><i class="icon-star"></i></a>
          			<a href="#" id="car" class="btn" ><i class="icon-shopping-cart"></i></a>
          		</div>
       		<% end %>
		</div>
		
		<div class="row">
				<%if @recipe.source.public?  %>
	        		<p><i><%= link_to @recipe.source.name, @recipe.source %></i>&nbsp;|&nbsp;
       		  		<i><%= link_to @recipe.category.name, @recipe.category %></i>&nbsp;|&nbsp;
       				<i><%= "#{t(:page)} #{@recipe.page}" %></i></p>
       			<%else%>
    				<%= link_to t(:my_cookbook) , @recipe.source %></i>&nbsp;|&nbsp;
       		  		<i><%= @recipe.category.name %></i>
    			<%end%>
    	</div>
    	
		<div class="row">
        	<% if signed_in? && current_user && recipe_correct_user(@recipe) %>
        		<div class="pull-right">
        			<ul class="nav nav-list">
           			<!--<li><%= link_to t(:new_recipe), new_recipe_path(source_id: @recipe.source) %></li>-->
	           			<li><%= link_to "#{t(:edit)} #{t(:ingredients)}", portions_path(recipe_id: @recipe.id)%></li>
    	       			<li><%= link_to "#{t(:edit)} #{t(:recipe)}", edit_recipe_path(@recipe) %></li>
        	   			<li><%= link_to "#{t(:destroy)} #{t(:recipe)}", @recipe, method: :delete, data: { confirm: t(:are_you_sure?) } %></li>
           			</ul>
           		</div>
    	   	<%end%>
       	</div>
        
        
      	<div class="row">
        <div class="well">
        <% @recipe.list.each do |key,value| %>
          <p><b><%= if (key.nil? || key.empty?) then t(:ingredients) else key end %>:</b>
          <% value.each do |v| %>
            <li><%= v %></li>
          <% end %>
          </p>
        <% end %>

        <p><b><%= t(:preparation) %>:</b></p>
        <% if !signed_in? %>
        	<div class="alert warning"><%= "#{t(:copyright_lock)} #{link_to t(:sign_in), signin_path}".html_safe %></div>
        <%else%>
        	<%= form_for(current_user.usersmarks.build(recipe_id: @recipe.id), remote: true, :html => { :id => "flags" }) do |f| %>
              <%= f.hidden_field :recipe_id %>
              <%= f.hidden_field :mark_type, value: @mark_type %>
              <% if !@recipe.source.public? || (current_user && current_user.admin?) %>
              <%else%>
              	<%= f.text_area :note, value: @usernote, placeholder: "#{t(:usernote)}...", rows: 15, class: "span11" %>
              <%end%>
              <!--<br/><small><%= t(:click_to_edit) %></small>-->
              <%= f.submit %>
            <% end %>
            <% if !@recipe.source.public? || (current_user && current_user.admin?) %>
            	<p><%= @desc %></p>

          		<% if !@recipe.note.nil? && !@recipe.note.empty? %>
            		<p><b><%= t(:note) %>:</b></br><%= sanitize simple_format(@recipe.note), :tags => %w(b br) %></p>
          		<% end %>

          		<% if @recipe.calories && @recipe.calories>0 %>
            		<p><b><%= t(:calories) %>:</b><%= @recipe.calories %></p>
          		<% end %>
            <%end%>
        <%end%>
        
        </div>
        </div>

<script>
  jQuery(function($){
    $("input[type=submit]").hide();
    if( $("#usersmark_mark_type").val() == "0") {
        $("#fav").removeClass("btn-warning");
        $("#car").removeClass("btn-danger");
      } else {
      if( $("#usersmark_mark_type").val() == "1") {
        $("#fav").addClass("btn-warning");
        $("#car").removeClass("btn-danger");
      } else {
      if( $("#usersmark_mark_type").val() == "2") {
        $("#fav").removeClass("btn-warning");
        $("#car").addClass("btn-danger");
      } else {
      if( $("#usersmark_mark_type").val() == "3") {
        $("#fav").addClass("btn-warning");
        $("#car").addClass("btn-danger");
      }}}}

    $("#fav").click(function(){
      if( $("#usersmark_mark_type").val() == "0") {
        $("#usersmark_mark_type").val("1");
        $(this).addClass("btn-warning");
      } else {
      if( $("#usersmark_mark_type").val() == "1") {
        $("#usersmark_mark_type").val("0");
        $(this).removeClass("btn-warning");
      } else {
      if( $("#usersmark_mark_type").val() == "2") {
        $("#usersmark_mark_type").val("3");
        $(this).addClass("btn-warning");
      } else {
      if( $("#usersmark_mark_type").val() == "3") {
        $("#usersmark_mark_type").val("2");
        $(this).removeClass("btn-warning");
      }}}}
      //$(this).closest("form").submit();
      $("#flags").submit();
    });

    $("#car").click(function(){
      if( $("#usersmark_mark_type").val() == "0") {
        $("#usersmark_mark_type").val("2");
        $(this).addClass("btn-danger");
      } else {
      if( $("#usersmark_mark_type").val() == "1") {
        $("#usersmark_mark_type").val("3");
        $(this).addClass("btn-danger");
      } else {
      if( $("#usersmark_mark_type").val() == "2") {
        $("#usersmark_mark_type").val("0");
        $(this).removeClass("btn-danger");
      } else {
      if( $("#usersmark_mark_type").val() == "3") {
        $("#usersmark_mark_type").val("1");
        $(this).removeClass("btn-danger");
      }}}}
      //$(this).closest("form").submit(); 
      $("#flags").submit();
    });

    //$("#usersmark_note").attr('title', '<%= t(:click_to_edit)%>');
    $("#usersmark_note").prop('readonly', true);
    $("#usersmark_note").click(function() {
      $(this).prop('readonly', false);
      //$(this).attr('title','');
    });

    $("#usersmark_note").change(function(){
      $(this).prop('readonly', true);
      //$(this).attr('title', '<%= t(:click_to_edit)%>');
      $("#flags").submit();
    });
     $("#usersmark_note").blur(function() {
      $(this).prop('readonly', true);
      //$(this).attr('title','');
    });

  });
</script>

