<% provide(:title, @ingredient.name.capitalize) %>
<% provide(:description, "#{@ingredient.name.capitalize}? Saiba mais sobre este ingrediente...") %>

<p id="notice"><%= notice %></p>

<%= image_tag(@link, :size => "320x320", class: "thumbnail") if@link.length>0 %>
<%= render 'shared/sponsor' %>

<h3>
	<%= @ingredient.name.capitalize %>
	<sup><small><%= @txt.html_safe %></small></sup>
</h3>



<%= "#{link_to t(:edit), edit_ingredient_path(@ingredient)} |".html_safe if signed_in? && current_user.admin? %> 
<%= link_to "&#8592; #{t(:ingredients)}".html_safe, ingredients_path(initial: @ingredient.name[0].upcase) %>


